body{
  background-color: rgb(142, 146, 116); 
 /*background-image: url('https://img.freepik.com/vector-gratis/fondo-diseno-patrones-organicos-abstractos_1048-19286.jpg?semt=ais_hybrid&w=740&q=80');*/
   background-size: contain;
   background-repeat: no-repeat;
    color: rgb(8, 8, 8);
    text-align: center;
}

h2{
 background-color:burlywood ;
 font-family: "Asimovian", sans-serif;
}

#dadespersonals{
    background-color:antiquewhite ;
    font-family: "SUSE Mono", sans-serif;
    display:inline-block;
   width: 40%;
   height: 400px;
   margin-right: 25px; 
   margin-bottom: 25px;  
}

.academiques{
    background-color:antiquewhite ;
    font-family: "SUSE Mono", sans-serif;
    display:inline-block;
    width: 40%;
    height: 400px;
    margin-right: 25px;
    margin-bottom: 25px;    
}

#experiencia{
background-color:antiquewhite ;
font-family: "SUSE Mono", sans-serif;
display: inline-block;
width: 40%;
height: 400px;
margin-right: 25px;
margin-bottom: 25px;  

}

#altres{
background-color:antiquewhite ;
font-family: "SUSE Mono", sans-serif;
display: inline-block;
width: 40%;
height: 400px;
margin-right: 25px;

}

img{
    display: block;
    margin: auto;
    margin-bottom: 25px;
 
}

nav{
    display: inline-block;
    width: 50%;

}